body {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
}

header {
    margin: 0 auto;
    padding: 2rem 0;;
    background-color: lightgrey;
    color: brown;
}

div {
    text-align: center;
}

button {
    text-align: center;
}

h2 {
    padding-top:5rem;
    text-align: center;
    font-size: 2rem;
}

p {
    line-height: 1.5rem;
}

.highscore {
float: left;
}

.highscore:hover {
    color: darkgrey;
    transition: .4s;
}

.timer {
float: right;
}

.timer:hover {
    color: darkgrey;
    transition: .4s;
}

.start-quiz-page {
    align-self: center;
}

.btn-start {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: brown;
}

.btn-start:hover {
    background-color: darkgrey;
    transition: .4s;
}

.score {
    margin-bottom: 1rem;
    margin-right: 13rem;
}

.submit {
    background-color: brown;
    border-radius: 5px;
}

.submit:hover {
    background-color: darkgrey;
    transition: .4s;
}


